/* CSS declarations go here */
@import 'https://fonts.googleapis.com/css?family=Merriweather:300|Noto+Serif:400|Roboto+Mono|Source+Serif+Pro';
body {
  font-family: 'Roboto Mono', monospace !important;
  color: #19191F; }

h1, h2, h3, h4, h5, h6, .menu {
  font-family: 'Noto Serif', monospace !important;
  font-weight: 400 !important; }

h1 {
  font-size: 1.8em !important; }

h2 {
  font-size: 1.5em !important; }

.right.menu.static {
  font-size: 1.2em; }

.title {
  font-family: 'Roboto Mono', monospace !important;
  font-weight: 700 !important; }

.step .title {
  font-weight: 400 !important; }

.ui[class*="very padded"].neg.segment {
  background: #19191F;
  /*background: #f1f1f1;
	background: -moz-linear-gradient(-45deg,  #f1f1f1 0%, #ffffff 100%);
	background: -webkit-linear-gradient(-45deg,  #f1f1f1 0%,#ffffff 100%);
	background: linear-gradient(135deg,  #f1f1f1 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=1 );*/ }

.ui.item.big {
  font-size: 1.5em !important;
  padding-left: 0 !important; }

.fixed.menu {
  visibility: hidden; }

.rotate {
  color: #2196F3;
  font-family: 'Noto Serif', serif;
  margin: .5em 0 0; }

.aja {
  color: #2196F3 !important; }

.neg {
  min-height: 600px; }

.neg .ui.header {
  color: #f1f1f1; }

.ui.card > .content > .header {
  font-family: 'Noto Serif', serif !important; }

.ui.card .aja-blue {
  color: #19191F !important; }
  .ui.card .aja-blue .icon {
    transition: color .2s ease-in-out; }

.ui.card:hover .aja-blue .icon {
  color: #2196F3 !important; }

.ui.item {
  border-left: none !important; }

#sticker p {
  line-height: 1.75em !important; }
